@import "tailwindcss";

* {
  font-family: 'Inter', sans-serif;
}

body {
  @apply bg-white text-gray-900 font-sans;
}

.dark {
  @apply bg-gray-900 text-white;
}

/* Hide scrollbar while keeping functionality */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
